/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body
{
    font-size: 0.75em;
    font-family: Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

a:link
{
    text-decoration: underline;
    color: #848;
}

a:hover
{
    color: #428;
}

p
{
    margin-bottom: 20px;
    line-height: 1em;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2
{
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;

    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

h2
{
    padding: 0;
}

#header
{
    display: block;
    background-color: #dddddd;
    width: 100%;

    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0 1em;
}

#main
{
    padding: 1em;
    background-color: #fff;
    margin-bottom: 30px;
}

/* lists */

ul.compact
{
    margin: 0;
    padding: 0;
}

ul.compact li
{
    list-style-type: none;
    margin-bottom: 0;
}

/* tooltip */

.tooltip   
{
    background-color:#ffd;  
    color: black;  
    font-size:10px;  

    padding:5px;  
    width:auto;  
    border: 1px solid black;
}